*.log
*.pid
*.seed
*.pid.lock
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
eggs/
pip-wheel-metadata/
venv/
.logs/
dist/
build/
.coverage
.pytest_cache/
.pyre/
.pytype/
.mypy_cache/
.pyright/

#Ignore AI rules
.github/instructions/codacy.instructions.md
.qodo/
.codacy/
.vscode/
